:root {
    /* Primary color */
    --lumo-primary-color: #bfe70e; /* Синий цвет */
    
    /* Text color */
    --lumo-body-text-color: #333333; /* Цвет текста */
  
    /* Background color */
    --lumo-base-color: #2dad56; /* Основной фоновый цвет */
  }
