:root {
    --lumo-primary-color: #f9f7fa;
    --lumo-body-text-color: #0cd6c9;
    --lumo-secondary-text-color: #f1f7f8;
    --lumo-primary-text-color: #3be22c;
    --lumo-tertiary-text-color: #f1f5f5;
    --lumo-base-color: #1a1a1a;
  }
