:root {
    --lumo-primary-color: #f9f7fa;
    --lumo-body-text-color: #f5ebeb;
    --lumo-secondary-text-color: #0ebbda;
    --lumo-primary-text-color: #f1f5f5;
    --lumo-tertiary-text-color: #f1f5f5;
    --lumo-base-color: #1a1a1a;
  }
