/* styles.css */

.main-layout {
    background-color: #f0f0f0; /* Цвет фона */
    color: #333; /* Цвет текста */
}

.logo {
    color: #007bff; /* Цвет логотипа */
}

.header {
    background-color: #007bff; /* Цвет шапки */
    color: #fff; /* Цвет текста в шапке */
}

/* Дополнительные стили для меню и вкладок */
.menu-item {
    color: #333; /* Цвет текста пунктов меню */
}

.menu-item:hover {
    color: #007bff; /* Цвет текста при наведении */
}

