html {
    --lumo-base-color: #130f0f; /* изменение базового цвета */
    --lumo-primary-color: #007bff; /* изменение основного цвета */
    --lumo-error-color: #dc3545; /* изменение цвета ошибок */
    --lumo-success-color: #28a745; /* изменение цвета успешных операций */
    /* Добавьте другие переменные CSS по необходимости */
}